<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdquan.mapper.MenuMapper">
	<resultMap type="menu" id="mymap">
		<id property="id" column="id"/>
		<collection property="children" select="com.hdquan.mapper.MenuMapper.selByPid" column="id"></collection>
	</resultMap>
	<select id="selByPid" parameterType="int" resultMap="mymap">
		select * from menu where pid=#{0}
	</select>
</mapper>