<?xml version="1.0" encoding="UTF-8"?>   
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
      xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
         http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"> 
        
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"> 
       		<property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"></property>
       		<property name="arguments" ref="securityManager"></property>
       </bean> 
        
 <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
  	<property name="securityManager" ref="securityManager"/>
  	<property name="loginUrl" value="/login.action"/>
	<property name="unauthorizedUrl" value="/refuse.jsp"/>
	<property name="filters">
  			<map>
  					<entry key="authc" value-ref="formAuthenticationFilter"/>
  			</map>
  		</property>
	
  	<property name="filterChainDefinitions">
    <value>
        /js/**=anon
        /index.jsp=anon
         /**.jsp=anon
      /login.action=authc
        /logout.action=logout 
        /refuse.jsp = anon
        /**=authc
  	  </value>
	</property>
  </bean>
		<bean id="formAuthenticationFilter" class="com.hdquan.shiro.realm.CustomFormAuthenticationFilter">
					<property name="usernameParam" value="username"/>
					<property name="passwordParam" value="password"/>
					<property name="rememberMeParam" value="rememberMe"/>
					<property name="loginUrl" value="/login.action"></property>
			</bean>
   <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager"> 
			  			<property name="authenticator">
			            <bean class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">
			                <property name="authenticationStrategy">
			                    <bean class="org.apache.shiro.authc.pam.AllSuccessfulStrategy"/>
			                </property>
			            </bean>
			      		  </property>
			      		   <property name="realms">
					            <list>
					                <bean class="com.hdquan.shiro.realm.CustomRealm"></bean>
					            </list>
					        </property>
  	</bean>
 </beans>